
.carrousel{
    align-items: center;
    background-color: rgb(195, 196, 195);
   
 }

 
 #conteItemscarrousel{
    border: 5px solid lightblue;
    height: 400px;
    width: 60%;
    overflow: hidden;
    border-radius:50% ;
    margin-top: 50px;
    margin-left: 20%;
  }
  #conteItemscarrousel:hover{
    border-radius: 0% ;
    transition-delay: linear;
    transition-duration: 2s;
    transition-timing-function: ease;
}
    .itemCarrousel {
      
      height: 100%;
      width: 100%;
      position: relative;
    }
  
    .tarjetaCarrousel img{
      
      width: 100%;
      height: 100%;
    }
  
    .flechasCarrousel{
      
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
    }
    .flechasCarrousel i{
      color: rgb(246, 242, 242);
   
    }
    
