* {
   
   box-sizing: border-box;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   /*color: rgb(78, 35, 35);*/
   
}

.imgEncabezado{
  background-image: url(/assets/imagenes/imagen1.jpg); 
  width: 100%;
  height: 300px;
  background-position: center;
  background-size:cover;
  color:rgb(230, 240, 231) ;
  text-align: center;
}

footer{
   background-color: lightblue;
   color: rgb(78, 35, 35);
   text-align: center;
}

nav{
   background-color: lightblue;
   margin-bottom: 2vh;
   padding: 0.5vh 0 0.5vh;
}

#navBarId ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
    padding: 1px ;
}

#navBarId li{
   list-style: none;
 }

 #navBarId .fa-bars, #navBarId .fa-times, #navBarId input[type="checkbox"]{
   display:none;
}

h1{ 
   padding: 5vh;
   font-size: 4rem;
   text-align: center;
   color:beige;
   
}

h2{
   color: rgb(78, 35, 35);
   text-align: center;
}

a{
   text-decoration: none;
   font-size: 1.2rem;
   padding: 3vh;
   color: rgb(78, 35, 35);
}
a:hover{
   color:rgb(187, 139, 139);
}
main{ 
   background-image: url(#./../../assets/imagenes/feriantes.jpg); 
   margin: 1% 0 1% 0%;
   background-size:cover;
}

.contenedor_con_sidebar{
   justify-content: center;
   display: flex;
   gap: 5px;
}

.cuerpo-principal {
   flex-basis: calc(70% - 1rem);
   text-align: center;
}
.sidebar {
   flex-basis: calc(15% - 1rem);
   text-align: center;
}

.comentario{
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   justify-content: space-around;
   border-radius: 20px;
   margin:5px ;
   padding: 10px;
   color:rgb(78, 35, 35);
 }
 
 iframe{
    border: 2px solid rgb(78, 35, 35);
    border-radius: 5px;
    margin: 10vh;
   }
   
   @media (max-width: 1200px) {
      
   .grid-container {
      box-sizing: content-box;
      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: space-around;
      margin: 2vh;
      gap: 5px;
      }
   
       
      .grid-container img{
      height: 240px; 
      width: 160px;
      }
         
   }
   
@media (max-width: 480px) {
   
   #navBarId .fa-bars, #navBarId .fa-times, #navBarId input[type="checkbox"]{
   display:block;
}
   #navBarId a {
      text-decoration: none;
      display: list-item;
      max-width: 200px;
    }

    
 #navBarId ul{
   width: 100%;
   display: list-item;
   justify-content:flex-end;
   padding: 1px ;
} 
      
    #navBarId input[type="checkbox"], #navBarId .fa-bars, #navBarId .fa-times {
      position: absolute;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      right: 0;
      top: 0;
      width: 48px;
      height: 48px;
    }
    
    #navBarId .fa-bars, #navBarId .fa-times {
      font-size: 48px;
      pointer-events: none;
    }
    
    #navBarId input[type="checkbox"] {
      opacity: 0;
    }
    
    #navBarId {
      color: white;
      position: relative;
      min-height: 48px;
    }
    
    #navBarId nav {
      display: none;
    }
    
    #navBarId input:checked ~ nav {
      display: block;
    }
    
    #navBarId input:checked ~ .fa-bars {
      display: none;
    }
    
    #navBarId input:not(:checked) ~ .fa-times {
      display: none;
    }

    
.contenedor_con_sidebar{
   justify-content: center;
   display: block;
   gap: 5px;
   }

   .grid-container {
      box-sizing: content-box;
      display: grid;
      grid-template-columns: auto;
      justify-content: space-around;
      margin: 2vh;
      gap: 5px;
    }
}


       
