#grid-container {
    box-sizing: content-box;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    margin: 2vh;
    gap: 5px;
  }
 
 #grid-container img{
    height: 250px; 
    width: 160px;
    border-radius: 5px;
  }

#grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 2rem;}
